@model IEnumerable<API_Usage.Models.outputModel>


@{
    ViewData["Title"] = "Buy Or Sell Stocks";
}

<h2 style="text-decoration:underline">Buy/Sell Stock</h2>
<p>
    From the last 52 week stock analysis we can list the top 5 best performing stocks. 
</p>
<div>
    <table class="table" style="border:dotted">
        <thead>
            <tr>
                <th>
                    Company Name
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Close
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="row" data-symbol="@item.symbol">
                    <td>
                        @Html.DisplayFor(modelItem => item.companyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valueS)
                    </td>
                </tr>
            }
           
        </tbody>

    </table>
    <div style="padding:5px">
        <a id="dbopt" asp-controller="Home" asp-action="PopulateStock"><img src="~/img/button_save-data.png" /></a>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $(document).on("click", ".row", function (event) {
    //        //event.preventDefault();
    //        var me = $(this);
    //        var symbol = me.data("symbol");
    //    });
    //});
    
    alertDbSave(@ViewBag.dbSuccessComp);

</script>
