@model IEnumerable<API_Usage.Models.outputModel>


@{
    ViewData["Title"] = "Buy Or Sell Stocks";
}

<h2 style="text-decoration:underline">Buy/Sell Stock</h2>
<p>
    As a part of this project we are trying to classify companies which top performing stocks. Here we are
    using listed API’s to fetch data and run a logic to find the top companies for stock investments. A simple
    way to measure price momentum is to consider the proximity of a stock to its 52-week high or low adjustement prices.
    The formula I used for this was current price minus 52-week low divided by 52-week high minus 52-week low.
    Stocks that score 82% or higher on this formula tend to outperform, while stocks that score 41% or lower tend to underperform.
</p>
<div>
    <table class="table" style="border:dotted">
        <thead>
            <tr>
                <th>
                    Company Name
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Close
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="row" data-symbol="@item.symbol">
                    <td>
                        @Html.DisplayFor(modelItem => item.companyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valueS)
                    </td>
                </tr>
            }
           
        </tbody>

    </table>
    <div style="padding:5px">
        <a id="dbopt" asp-controller="Home" asp-action="PopulateStock"><img src="~/img/button_save-data.png" /></a>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $(document).on("click", ".row", function (event) {
    //        //event.preventDefault();
    //        var me = $(this);
    //        var symbol = me.data("symbol");
    //    });
    //});
    
    alertDbSave(@ViewBag.dbSuccessComp);

</script>
